SUPABASE_PROJECT_ID="knufqsnamewqsboeitba"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_nCM8f5vl51h1ZaobsxVJSA_-ITWXZvv"
SUPABASE_URL="https://knufqsnamewqsboeitba.supabase.co"
VITE_GEMINI_API_KEY="AQ.Ab8RN6LQkEWgLD01Gb6aOzwLq6X2M8RVgnwFiJmcmsieWnvfKw"
VITE_SUPABASE_PROJECT_ID="knufqsnamewqsboeitba"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_nCM8f5vl51h1ZaobsxVJSA_-ITWXZvv"
VITE_SUPABASE_URL="https://knufqsnamewqsboeitba.supabase.co"
